{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{object.paciente}}{% endblock %}
{% block content %}
{% include 'consultorio/includes/urgencias_menu.html' %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 style = "color:rgba(0, 0, 128, 0.805);"  class="section-heading mb-4">Reporte Evaluación Subsecuente Urgencias</h2>
        <h4 class="section-heading mb-4">Paciente: {{object.paciente}}</h4>
        <div>
          <p>Edad: {{object.edad}}</p>

          <P>Género: {{object.genero}} </P>

          <p>Evaluación secundaria /Subsecuente: <b style = "color:brown">{{object.evaluacion_sec}}</b></p>
          
          <p><b>DIAGNOSTICOS PREVIOS:</b></p> 
          <p><b>{{object.dxs_previos |linebreaks|safe}}</b></p>

          <p><b>SITUACION ACTUAL:</b></p>
          <p>{{object.sit_actual|linebreaks|safe}}</p>

          <h4 class="section-heading mb-4">RESPIRATORIO</h4>
          <P>FR: {{object.fr}} &nbsp; &nbsp; O2: {{object.O2}} lts/min, &nbsp; &nbsp;SaO2: {{object.saturacion}}</P>

          <p>Ventilación Mecánica: <b>{{object.vent_mec}}</b></p>

          <p>Mode: {{object.mode}}, &nbsp; &nbsp; FIO2: {{object.FrIO2}} &nbsp; &nbsp; FR: {{object.FrecResp}} &nbsp; &nbsp;Vt: {{object.Vt}} &nbsp; &nbsp; PEEP: {{object.PEEP}} &nbsp; &nbsp;
            Sens: {{object.Sens}} &nbsp; &nbsp; Pinsp: {{object.Pinsp}} &nbsp; &nbsp; Tinsp: {{object.Tinsp}} </p>
          <p>Cuadrantes afectados en Rx de Tórax: {{object.Rx_Torax}}, &nbsp; &nbsp; Complianza Pulmonar: {{object.lung_compl}} &nbsp; &nbsp;  Presión Intratorácica: <b>{{object.pit}} Kgs </b></p>
          <p>GASES ARTERIALES: pH: {{object.pH}} &nbsp; &nbsp; pCO2: {{object.pCO2}}  &nbsp; &nbsp; pO2: {{object.pO2}}  &nbsp; &nbsp; HCO3: {{object.HCO3}} &nbsp; &nbsp; EB: {{object.EB}} 
            &nbsp; &nbsp; Lactato: {{object.Lactato}} &nbsp; &nbsp; sO2: {{object.sO2}} </p>
          <p>PaFI: <b>{{object.PaFI}}</b></p>
          <p> {{object.compl_ex}} </p>
          
          <h4 class="section-heading mb-4">HEMODINAMICO</h4>
          <p>Diaforesis: {{object.Diaforesis}}, &nbsp; &nbsp; FC: {{object.fc}} &nbsp; &nbsp; Tensión sistólica: {{object.tension_sistolica}} &nbsp; &nbsp; 
            Tensión diastólica: {{object.tension_diastolica}} &nbsp; &nbsp; PAM: <b>{{object.pam}}</b> &nbsp; &nbsp; PVC: {{object.pvc}}
          </p>
          <p>Uso de aminas: {{object.uso_aminas}} &nbsp; &nbsp; {{object.esp_aminas|linebreaks|safe}}</p>
          <p>Uso de antihipertensivos: {{object.antihipert}} &nbsp; &nbsp; {{object.esp_aht|linebreaks|safe}}</p>
          
          <p>
            Ingreso IV: {{object.ingreso_iv}} mls &nbsp; &nbsp; Diuresis: {{object.diuresis}} mls&nbsp; &nbsp; Balance: <b>{{object.balance}} mls</b>
          </p>

          <h4 class="section-heading mb-4">NEUROLOGICO</h4>

          <p>AVPU: {{object.AVPU}}, &nbsp; &nbsp; Glasgow:  {{object.ESCALA_DE_GLASGOW}} &nbsp; &nbsp; Sedación: {{object.Sedacion}} </p>
          {{object.meds_dosis | linebreaks | safe}}

          <p>RASS: {{object.RASS}}</p>

          {{object.obs_neur | linebreaks | safe}}

          <h4 class="section-heading mb-4">METABOLICO</h4>

          <br><br>


          <h4 class="section-heading mb-4">Observaciones Especiales</h4>

               
           <p>NEUROLOGICO: {{object.NEUROLOGICO}}</p>
           <p>RESPIRATORIO: {{object.RESPIRATORIO}}</p>
           <P>HEMODINAMICO: {{object.HEMODINAMICO}}</P>
           <p>INFECCIOSO: {{object.INFECCIOSO}} </p>

           <b>Fecha de Realización:</b> <p><b>{{ object.timestamp }}</b></p>
           <b>Ultima Actualización:</b> <p><b>{{ object.update }}</b></p>

           
          {% if request.user.is_staff %}
          
            <p><a href="{% url 'consultorio:actualizar_urgencia' object.id %}">Editar</a></p>
            
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>


{% endblock %}

