{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{object.nombre}}{% endblock %}
{% block content %}
{% include 'consultorio/includes/urgencias_menu.html' %}


<form action="{% url 'consultorio:search_results_urgencias' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>

<main role="main">
  <div class="container mb-4">
    {% for urg in urgencias_list %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <h2 style = "color:rgba(0, 0, 128, 0.805);"  class="mb-4">  {{urg.nombre}}</h2>
          <div>
            <p>{{urg.im_bkground|striptags|safe|truncatechars:"200"}}</p>
            {% if request.user.is_staff %}
            <p><a href="{% url 'consultorio:urgencias' urg.id %}">Resumen</a>
              | <a href="{% url 'consultorio:actualizar_urgencia' urg.id %}">Editar</a>
              | <a href="{% url 'consultorio:eliminar_urgencia' urg.id %}">Eliminar</a>
            
              
                
              <!--  | <a href="#">Borrar</a>
              -->
              {% endif %}
              
              
              
            
              <!--
              {% if request.user.is_staff %}
                | <a href="#">Editar</a>
                | <a href="#">Borrar</a>
              {% endif %}
              -->
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</main>
{% endblock %}
