{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{object.paciente}}{% endblock %}
{% block content %}
{% include 'consultorio/includes/urgencias_menu.html' %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 style = "color:rgba(0, 0, 128, 0.805);"  class="section-heading mb-4">Reporte Evaluación Primaria Urgencias</h2>
        <h4 class="section-heading mb-4">Paciente: {{object.nombre}}</h4>
        <div>
          <p>Edad: {{object.edad}}</p>
           <b>ANTECEDENTES INMEDIATOS Y SITUACION ACTUAL: </b> 
            <p>{{object.im_bkground|linebreaks|safe}} </p>

           <b>OTROS ANTECEDENTES:</b> 
           <p>{{object.other_bkground|linebreaks}}</p>

           <b>SITUACION ACTUAL Y EXPLORACION:</b>
           <p>{{object.expl |linebreaks}}</p>

           <b>GLASGOW: {{object.ESCALA_DE_GLASGOW}}, &nbsp; &nbsp; AVPU: {{object.AVPU}}</b>
           <p><b>SIGNOS VITALES:</b>FR: {{object.fr}}, &nbsp; &nbsp;  FC {{object.fc}}, &nbsp; &nbsp;   TA {{object.tension_sistolica}}/{{object.tension_diastolica}}, &nbsp; &nbsp;    
            <b>PAM: {{object.pam}},</b> &nbsp; &nbsp;  Temp: {{object.temp}}, &nbsp; &nbsp;   Sa02: {{object.saturation}}, &nbsp; &nbsp;
            Dextrostix: {{object.dextrostix}}, &nbsp; &nbsp;   A1c: {{object.a1c}},  &nbsp; &nbsp;  Peso: {{object.peso}}, &nbsp; &nbsp;   Estatura: {{paciente.estatura}}, &nbsp; &nbsp;
            IMC: {{object.imc}}, &nbsp; &nbsp;   Clasificación Masa Corporal: <b>{{object.climc}},</b> &nbsp; &nbsp;   ASC: {{object.asc}}, &nbsp; &nbsp;   
            Per. Abdominal: {{object.per_abdominal}} cms. </p>
           
           <b>DXS:</b> 
           <p>{{object.dxs | linebreaks}}</p>

           <b>MANEJO_INICIAL:</b> 
           <p>{{object.MANEJO_INICIAL | linebreaks}}</p>

           <b>OBSERVACIONES GENERALES:</b>
           <p>{{object.OBSERVACIONES_GENERALES | linebreaks}}</p>

           <p><h3>Observaciones Especiales</h3></p>
           
           <p>NEUROLOGICO: {{object.NEUROLOGICO}}</p>
           <p>RESPIRATORIO: {{object.RESPIRATORIO}}</p>
           <P>HEMODINAMICO: {{object.HEMODINAMICO}}</P>
           <p>INFECCIOSO: {{object.INFECCIOSO}} </p>

           <b>Fecha de Realización:</b> <p><b>{{ object.timestamp }}</b></p>
           <b>Ultima Actualización:</b> <p><b>{{ object.update }}</b></p>

           
          {% if request.user.is_staff %}
          
            <p><a href="{% url 'consultorio:actualizar_urgencia' object.id %}">Editar</a></p>
            
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>


{% endblock %}

