{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{object.paciente}}{% endblock %}
{% block content %}
{% include 'consultorio/includes/urgencias_menu.html' %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 style = "color:rgba(0, 0, 128, 0.805);"  class="section-heading mb-4">Reporte Evaluación Subsecuente Urgencias</h2>
        <h4 class="section-heading mb-4">Paciente: {{object.paciente}}</h4>
        <div>
          <p>Género: {{object.genero}}</p>

          <p>Edad: {{object.edad}}</p>

          <p style = "color:red;" >{{object.evaluacion_sec}}</p>

          <b>DIAGNOSTICOS PREVIOS</b>
          <P>{{object.dxs_previos | linebreaks | safe}}</P>

           <b>SITUACION ACTUAL: </b> 
            <p>{{object.sit_actual|linebreaks|safe}} </p>

            <p><b>STATUS NEUROLOGICO</b></p>
            <p><b>GLASGOW: {{object.ESCALA_DE_GLASGOW}}, &nbsp; &nbsp; AVPU: {{object.AVPU}}</b> &nbsp; &nbsp; Sedación: {{object.Sedacion}} 
             &nbsp; &nbsp; {{object.meds_dosis}}  &nbsp; &nbsp; {{object.RASS}} &nbsp; &nbsp; {{object.obs_neur}}</p>

             <p><b>STATUS RESPIRATORIO</b></p>
             <p>Ventilación Mecánica: {{object.vent_mec}},  &nbsp; &nbsp; {{object.mode}}, &nbsp; &nbsp; FI02 {{object.FrIO2}},
                &nbsp; &nbsp; FR: {{object.FrecResp}} &nbsp; &nbsp; Vt: {{object.Vt}} &nbsp; &nbsp; PEEP: {{object.PEEP}} &nbsp; &nbsp; &nbsp;  SaO2: {{object.saturacion }}
                &nbsp; &nbsp; &nbsp; Sens: {{object.Sens}} &nbsp; &nbsp;  Pinsp: {{object.Pinsp}}, &nbsp; &nbsp;  Tinsp: {{object.Tinsp}} 
                &nbsp; &nbsp; Cuadrantes Afectados en Rx de Tórax: {{object.Rx_Torax}} &nbsp; &nbsp; Complianza Pulmonar: {{object.lung_compl}} 
                &nbsp; &nbsp; Presión Intratorácica Total (Ojo: son Kgs): {{object.pit}}  </p>
             <p>GASES ARTERIALES: pH: {{object.pH}} &nbsp; &nbsp; pCO2: {{object.pCO2}} &nbsp; &nbsp;  pO2: {{object.pO2}}  &nbsp; &nbsp; 
                HCO3: {{object.HCO3}} &nbsp; &nbsp; EB: {{object.EB }} sO2: {{object.sO2}} &nbsp; &nbsp; <b>PaFI: {{object.PaFI}} </b>  </p>
                <p> {{object.compl_ex}} </p>


           <p><b>SIGNOS VITALES:</b>FR: {{object.fr}}, &nbsp; &nbsp;  FC {{object.fc}}, &nbsp; &nbsp;   TA {{object.tension_sistolica}}/{{object.tension_diastolica}}, &nbsp; &nbsp;    
            <b>PAM: {{object.pam}},</b> &nbsp; &nbsp;  Temp: {{object.temp}}, &nbsp; &nbsp;   Sa02: {{object.saturation}}, &nbsp; &nbsp;
            Dextrostix: {{object.dextrostix}}, &nbsp; &nbsp;   A1c: {{object.a1c}},  &nbsp; &nbsp;  Peso: {{object.peso}}, &nbsp; &nbsp;   Estatura: {{object.estatura}} &nbsp; &nbsp;
            IMC: {{object.imc}} &nbsp; &nbsp;   Clasificación Masa Corporal: <b>{{object.climc}},</b> &nbsp; &nbsp;   ASC: {{object.asc}} &nbsp; &nbsp;   
            Per. Abdominal: {{object.per_abdominal}} cms. </p>
           
           <b>DXS:</b> 
           <p>{{object.dxs | linebreaks}}</p>

           <b>MANEJO_INICIAL:</b> 
           <p>{{object.MANEJO_INICIAL | linebreaks}}</p>

           <b>OBSERVACIONES GENERALES:</b>
           <p>{{object.OBSERVACIONES_GENERALES | linebreaks}}</p>

           <p><h3>Observaciones Especiales</h3></p>
           
           <p>NEUROLOGICO: {{object.NEUROLOGICO}}</p>
           <p>RESPIRATORIO: {{object.RESPIRATORIO}}</p>
           <P>HEMODINAMICO: {{object.HEMODINAMICO}}</P>
           <p>INFECCIOSO: {{object.INFECCIOSO}} </p>

           <b>Fecha de Realización:</b> <p><b>{{ object.timestamp }}</b></p>
           <b>Ultima Actualización:</b> <p><b>{{ object.update }}</b></p>

           
          {% if request.user.is_staff %}
          
            <p><a href="{% url 'consultorio:actualizar_urgencia' object.id %}">Editar</a></p>
            
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>


{% endblock %}

